PORT="3001"

DATABASE_URL="postgresql://USER:PASSWORD@HOST-pooler.REGION.aws.neon.tech/student_crud_db?sslmode=require"
DIRECT_URL="postgresql://USER:PASSWORD@HOST.REGION.aws.neon.tech/student_crud_db?sslmode=require"

MAIL_HOST="sandbox.smtp.mailtrap.io"
MAIL_PORT="2525"
MAIL_SECURE="false"
MAIL_USER="your_mailtrap_username"
MAIL_PASS="your_mailtrap_password"
MAIL_FROM="Library App <no-reply@library.test>"
MAIL_TO="student@example.com"
